# 4 FEB ASSIGNMENT

#Q.1  Creat a python program to sort the given list of tuples based on integer value using a lambda function.
[('sachin Tendulkar',34357),('Ricky Ponting',27483),('Jack Kallis',25534),('Virat Kohli',34936)]

In [ ]:
l=[('sachin Tendulkar',34357),('Ricky Ponting',27483),('Jack Kallis',25534),('Virat Kohli',34936)]

In [2]:
l

[('Sachin Tendulkar', 34357),
 ('Ricky Ponting', 27483),
 ('Jack Kallis', 25534),
 ('Virat Kohli', 34936)]

In [3]:
l.sort(key=lambda x:x[1])

In [4]:
print(l)

[('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357), ('Virat Kohli', 34936)]

Q.2 Write the python programm to find the squares of all the numbers in given list of integer using lambda and map function

In [5]:
q=[1,2,3,4,5,6,7,8,9,10]

In [6]:
list(map(lambda x:x**2 ,q))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q.3 Write the python programm to convert the given list of integer into a tuple of strings. Use map and lambda function
Given string:[1,2,3,4,5,6,7,8,9,10]
Expected output:['1','2','3','4','5','6','7','8','9','10']

In [7]:
r=[1,2,3,4,5,6,7,8,9,10]

In [9]:
t=list(map(str ,r))

In [10]:
t

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [11]:
tuple(t)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Q.4 Write a python program using reduce function to compute the product of a list containing numbers from 1 to 25

In [61]:
from functools import reduce

In [64]:
b=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

In [65]:
reduce(lambda x,y : x*y ,b)

15511210043330985984000000

Q.5 Write a python program to filter the number in a given list that are divisible by 2 and 3 using given list.
[2,3,6,9,27,60,90,120,55,46]

In [22]:
a=[2,3,6,9,27,60,90,120,55,46]

In [23]:
a

[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [26]:
list(filter(lambda x:x%2==0 ,a))

[2, 6, 60, 90, 120, 46]

In [27]:
list(filter(lambda x:x%3==0 ,a))

[3, 6, 9, 27, 60, 90, 120]

Q.6 Write a python program to find palindromes in the given list of strings using lambda and filter function.
['python','php','aba','radar','level']

In [28]:
g=['python','php','aba','radar','level']

In [38]:
g

['python', 'php', 'aba', 'radar', 'level']

In [41]:
list(filter(lambda x:(x=="".join(reversed(x))),g))

['php', 'aba', 'radar', 'level']